@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

:root {
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light only;
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a:hover {
  color: #000000;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-width: none;
  /* Firefox */
  background: #f9f9f9;
  position: relative;
  overflow-x: hidden;
}



*::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2 {
  font-family: "Gabarito", system-ui, -apple-system, "Segoe UI", sans-serif;
}

button {
  font-family: inherit;
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

button:focus,
button:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

:root {
  color: #213547;
  background-color: transparent;
}

a:hover {
  color: #000000;
}



/* Kill daisyUI menu hover / active / focus backgrounds */
.menu li>a:hover,
.menu li>a:active,
.menu li>a:focus,
.menu li>a.active {
  background: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}